.forgot-password-container {
  height: 100vh;
}

.forgot-password-form-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.submit-button {
  width: 100%;
}
