.notification-card {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 16px;
  margin: 16px;
  background-color: #f9f9f9;
  width: 100%; /* Ensure the card fills the device width */
  box-sizing: border-box;
}

.notification-card-title {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: bold;
}

.notification-list {
  list-style-type: none;
  padding: 0;
}

.notification-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  flex-wrap: wrap; /* Allow items to wrap on smaller screens */
}

.notification-list-item:last-child {
  border-bottom: none;
}

.notification-read {
  color: #777;
}

.notification-text {
  flex: 1;
}

.notification-button-container {
  display: flex;
  justify-content: flex-end;
}

.notification-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
  margin-left: 8px; /* Add some space between buttons */
}

.notification-button:hover {
  background-color: #0056b3;
}

.notification-read-button {
  background-color: #28a745;
}

.notification-read-button:hover {
  background-color: #218838;
}

.notification-read-button-alt {
  background-color: #ffc107;
}

.notification-read-button-alt:hover {
  background-color: #e0a800;
}

.notification-delete-button {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
  margin-left: 8px; /* Add some space between buttons */
}

.notification-delete-button:hover {
  background-color: #c82333;
}